@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 50px;
    z-index: 1;
    background-color: #013328;
    margin-bottom: 20px;
}
header .logo
{
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: #E3DCD2;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li:hover a{
    color: #CC8B65;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #E3DCD2;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.5s;
}
header ul li .navForm
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}
header ul li .navSearch
{
    position: relative;
    width: 150px;
    letter-spacing: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #FFFFFF;
}
header ul li .navButton
{
    position: relative;
    color: #E3DCD2;
    background: #CC8B65;
    padding: 0 5px;
    border: 2px solid #CC8B65;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    letter-spacing: 2px;
    font-weight: 500;
    outline: none;
}
header ul li .navButton:hover
{
    color: #FFFFFF;
    cursor: p;
}
